.card {
  padding: var(--lg-space-2xs) 8px;
  border-radius: var(--ant-border-radius);
  border: 2px solid var(--ant-color-border-secondary);
}

.meta {
  min-width: 0;
}

.name {
  font-size: var(--lg-font-size-sm);
}

.code {
  font-size: var(--lg-font-size-2xs);
}
