.panel {
  height: 100%;
  min-height: 0;
}

.title {
  font-size: var(--lg-font-size-sm);
}

.list {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.draggableItem {
  cursor: grab;
  opacity: 1;
}

.draggableItem[data-dragging='true'] {
  opacity: 0.5;
}
