.name {
  flex: 1 1 auto;
  min-width: 80px;
}

.consumed {
  flex: none;
  font-size: var(--lg-font-size-xs);
}

.noBudgetLabel {
  flex: none;
}

.overBudgetWarning {
  font-size: var(--lg-font-size-2xs);
}
