.empty {
  padding: var(--lg-space-xxl) var(--lg-space-lg);
  text-align: center;
}

.icon {
  display: flex;
  font-size: var(--lg-font-size-2xl);
  color: var(--ant-color-text-quaternary);
}

.title {
  color: var(--ant-color-text-secondary);
}

.hint {
  color: var(--ant-color-text-tertiary);
}
